<div class="container" *ngIf="category">
    <section class="row mt-4 mb-4 justify-content-md-center">
        <app-alert-error></app-alert-error>
        <div class="card jh-card col-md-6">
            <a (click)="openFile(category.categoryImageContentType, category.categoryImage)">
                <img [src]="'data:' + category.categoryImageContentType + ';base64,' + category.categoryImage" style="max-width: 100%;" alt="category image"
                />
            </a>
            <div class="card-body">
                <h3 class="card-title text-center">{{category.categoryName}}</h3>
            </div>
            <div class="card-footer bg-transparent">
                <button type="submit" (click)="previousState()" class="btn btn-info btn-sm">
                    <span class="fa fa-arrow-left"></span>&nbsp;
                    <span jhiTranslate="entity.action.back"> Back</span>
                </button>

                <button type="button" [routerLink]="['/', { outlets: { popup: 'category/'+ category.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                    <span class="fa fa-pencil"></span>&nbsp;
                    <span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </section>
</div>