<div class="container" *ngIf="subCategory">
    <section class="row mt-4 mb-4 justify-content-md-center">
        <app-alert-error></app-alert-error>
        <div class="card jh-card col-md-6">
            <div class="card-body">
                <h3 class="card-title">{{subCategory.subCategoryName}}</h3>
                <small>
                    <span jhiTranslate="eauctionApp.subCategory.category">Category</span>
                    <div *ngIf="subCategory.categoryId">
                        <a [routerLink]="['/category', subCategory.categoryId]" href="#"><app-category-label [id]="subCategory.categoryId"></app-category-label></a>
                    </div>

                </small>
            </div>
            <div class="card-footer bg-transparent">
                <button type="submit" (click)="previousState()" class="btn btn-info btn-sm">
                    <span class="fa fa-arrow-left"></span>&nbsp;
                    <span jhiTranslate="entity.action.back"> Back</span>
                </button>

                <button type="button" [routerLink]="['/', { outlets: { popup: 'sub-category/'+ subCategory.id + '/edit'} }]" replaceUrl="true"
                    class="btn btn-primary btn-sm">
                    <span class="fa fa-pencil"></span>&nbsp;
                    <span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </section>
</div>
