<div class="container" *ngIf="item">
    <section class="row mt-4 mb-4 justify-content-md-center">
        <div class="card jh-card col-md-6">
            <a *ngIf="item.itemImage" (click)="openFile(item.itemImageContentType, item.itemImage)">
                <img class="card-img-top" [src]="'data:' + item.itemImageContentType + ';base64,' + item.itemImage" alt="item image">
            </a>
            <div class="card-body">
                <h3 class="card-title">{{item.itemTitle}} (₹ {{item.basePrice}})[{{item.userLogin}}]</h3>
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <small>Description</small>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="mt-2 mb-2">
                                <p class="card-subtitle">{{item.itemDescription}}</p>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <small>Properties</small>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="mt-2 mb-2">
                                <app-item-attribute-list [itemId]="item.id"></app-item-attribute-list>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div class="card-footer bg-transparent">
                <div class="d-inline-block mr-2">
                    <span jhiTranslate="eauctionApp.item.subCategory">Sub Category</span>: 
                    <span *ngIf="item.subCategoryId"><a [routerLink]="['/sub-category', item.subCategoryId]">{{item.subCategorySubCategoryName}}</a></span>
                </div>
                <div class="d-inline-block mr-2">
                    <span jhiTranslate="eauctionApp.item.sale">Sale</span>: 
                    <span *ngIf="item.saleId"><a [routerLink]="['/sale', item.saleId]">{{item.saleAuctionTitle}}</a></span>
                </div>
                <div class="d-block mt-2">
                    <button type="submit" (click)="previousState()" class="btn btn-info btn-sm">
                        <span class="fa fa-arrow-left"></span>&nbsp;
                        <span jhiTranslate="entity.action.back"> Back</span>
                    </button>
                    <button type="button" [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>&nbsp;
                        <span jhiTranslate="entity.action.edit"> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>