<div class="container" *ngIf="attribute">
    <section class="row mt-4 mb-4 justify-content-md-center">
        <app-alert-error></app-alert-error>
        <div class="card jh-card col-md-6">
            <div class="card-body">
                <h3 class="card-title">{{attribute.attributeName}}</h3>
                <small>
                    <span jhiTranslate="eauctionApp.attribute.subCategory">Sub Category</span>
                    <div *ngIf="attribute.subCategoryId">
                        <a [routerLink]="['/sub-category', attribute.subCategoryId]">{{attribute.subCategorySubCategoryName}}</a>
                    </div>
                </small>
            </div>
            <div class="card-footer bg-transparent">
                <button type="submit" (click)="previousState()" class="btn btn-info btn-sm">
                    <span class="fa fa-arrow-left"></span>&nbsp;
                    <span jhiTranslate="entity.action.back"> Back</span>
                </button>

                <button type="button" [routerLink]="['/', { outlets: { popup: 'attribute/'+ attribute.id + '/edit'} }]" replaceUrl="true"
                    class="btn btn-primary btn-sm">
                    <span class="fa fa-pencil"></span>&nbsp;
                    <span jhiTranslate="entity.action.edit"> Edit</span>
                </button>
            </div>
        </div>
    </section>
</div>