<div class="container">
    <section class="row mt-4 mb-4">
        <div class="col-md-12 card jh-card">
            <div class="card-header bg-transparent">
                <h2>
                    <span jhiTranslate="eauctionApp.attribute.home.title">Attributes</span>
                    <button class="btn btn-primary float-right jh-create-entity create-attribute" [routerLink]="['/', { outlets: { popup: ['attribute-new'] } }]">
                        <span class="fa fa-plus"></span>
                        <span jhiTranslate="eauctionApp.attribute.home.createLabel">
                            Create new Attribute
                        </span>
                    </button>
                </h2>
                <app-alert></app-alert>
            </div>
            <div class="card-body">
                <div class="table-responsive" *ngIf="attributes">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
                                <th><span jhiTranslate="eauctionApp.attribute.attributeName">Attribute Name</span></th>
                                <th><span jhiTranslate="eauctionApp.attribute.subCategory">Sub Category</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let attribute of attributes ;trackBy: trackId">
                                <!-- <td><a [routerLink]="['../attribute', attribute.id ]">{{attribute.id}}</a></td> -->
                                <td>{{attribute.attributeName}}</td>
                                <td>
                                    <div *ngIf="attribute.subCategoryId">
                                        <a [routerLink]="['../sub-category', attribute.subCategoryId  ]">{{attribute.subCategorySubCategoryName}}</a>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="submit" [routerLink]="['../attribute', attribute.id ]" class="btn btn-info btn-sm">
                                            <span class="fa fa-eye"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                        </button>
                                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'attribute/'+ attribute.id + '/edit'} }]" replaceUrl="true"
                                            class="btn btn-primary btn-sm">
                                            <span class="fa fa-pencil"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                        </button>
                                        <button type="submit" [routerLink]="['/', { outlets: { popup: 'attribute/'+ attribute.id + '/delete'} }]" replaceUrl="true"
                                            class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
