<div class="container" *ngIf="sale">
    <div class="row mt-4 mb-4 justify-content-md-center">
        <app-alert-error></app-alert-error>
        <div class="card jh-card col-md-6">
            <div class="card-header bg-transparent">
                <h2 class="d-inline-block">
                    {{sale.auctionTitle}}
                </h2>
            </div>
            <div class="card-body">
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="eauctionApp.sale.start">Start</span></dt>
                    <dd>
                        <span>{{sale.start | date:'mediumDate'}}</span>
                    </dd>
                    <dt><span jhiTranslate="eauctionApp.sale.end">End</span></dt>
                    <dd>
                        <span>{{sale.end | date:'mediumDate'}}</span>
                    </dd>
                    <dt><span jhiTranslate="eauctionApp.sale.category">Category</span></dt>
                    <dd>
                        <div *ngIf="sale.categoryId">
                            <a [routerLink]="['/category', sale.categoryId]">{{sale.categoryCategoryName}}</a>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="card-footer bg-transparent">
                <button type="submit" (click)="previousState()" class="btn btn-info ">
                        <span class="fa fa-arrow-left"></span>&nbsp;
                        <span jhiTranslate="entity.action.back"> Back</span>
                    </button>

                <button type="button" [routerLink]="['/', { outlets: { popup: 'sale/'+ sale.id + '/edit'} }]" replaceUrl="true" class="btn btn-primary">
                        <span class="fa fa-pencil"></span>&nbsp;
                        <span jhiTranslate="entity.action.edit"> Edit</span>
                    </button>
            </div>
        </div>
    </div>
</div>
