
/* ==========================================================================
Navbar
========================================================================== */
ul.navbar-nav {
    padding: 0;
    .nav-item {
        margin-left: 1.5rem;
    }
}
.profile-image {
    margin: -10px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}