<nav class="navbar navbar-expand-lg navbar-dark bg-dark" [ngSwitch]="isAuthenticated()">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto float-right">
                <li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                    <a class="nav-link dropdown-toggle text-white small" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown"
                        *ngIf="languages.length > 1">
                        <span>
                            <i class="fa fa-flag" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.language">Language</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                        <li *ngFor="let language of languages">
                            <a class="dropdown-item" [appActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" *ngSwitchCase="true">
                    <a class="nav-link text-white small" routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()">
                        <i class="fa fa-fw fa-wrench" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.account.settings">Settings</span>
                    </a>
                </li>
                <li class="nav-item" *ngSwitchCase="true">
                    <a class="nav-link text-white small" routerLink="password" routerLinkActive="active" (click)="collapseNavbar()">
                        <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.account.password">Password</span>
                    </a>
                </li>
                <li class="nav-item" *ngSwitchCase="true">
                    <a class="nav-link text-white small" (click)="logout()" id="logout">
                        <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.account.logout">Sign out</span>
                    </a>
                </li>
                <li class="nav-item" *ngSwitchCase="false">
                    <a class="nav-link text-white small" (click)="login()" id="login">
                        <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.account.login">Sign in</span>
                    </a>
                </li>
                <li class="nav-item" *ngSwitchCase="false">
                    <a class="nav-link text-white small" routerLink="register" routerLinkActive="active" (click)="collapseNavbar()">
                        <i class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.account.register">Register</span>
                    </a>
                </li>
                <li class="nav-item" *ngSwitchCase="true && getImageUrl()">
                    <img [src]="getImageUrl()" class="profile-image img-circle" alt="Avatar">
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" [ngSwitch]="isAuthenticated()">
    <div class="container">
        <a class="navbar-brand" href="#" routerLink="/">
            <img src="../../../content/images/auction.png" height="75" class="d-inline-block align-top" alt="e-Auction">
            <!--&nbsp;<span class="d-inline-block align-top navbar-title font-weight-bold fa-2x" jhiTranslate="global.title">e-Auction</span>-->
        </a>
        <ul class="navbar-nav ml-auto float-right">
            <li class="nav-item">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-dark font-weight-bold">Bidders
                    <span class="badge badge-secondary">{{usercount}}</span>
                </button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-outline-primary font-weight-bold">Sub Categories
                    <span class="badge badge-warning">{{subcount}}</span>
                </button>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2" [ngSwitch]="isAuthenticated()">
    <div class="container">
        <ul class="navbar-nav mr-auto float-left">
            <li class="nav-item active ml-0">
                <a class="nav-link font-weight-bold" routerLink="/" routerLinkActive="active" (click)="collapseNavbar()">
                    <span jhiTranslate="global.menu.home">Home</span>
                </a>
            </li>
            <li class="nav-item" *ngSwitchCase="true">
                <a class="nav-link font-weight-bold" routerLink="/dashboard" routerLinkActive="active" (click)="collapseNavbar()">
                    <span jhiTranslate="global.menu.dashboard">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" *ngSwitchCase="true">
                <a class="nav-link font-weight-bold" routerLink="item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <span jhiTranslate="global.menu.entities.item">Item</span>(s)
                </a>
            </li>
            <li class="nav-item" *ngSwitchCase="true">
                <a class="nav-link font-weight-bold" routerLink="bid" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                    <span jhiTranslate="global.menu.entities.bid">Bid</span>(s)
                </a>
            </li>
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle font-weight-bold" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
                    <span jhiTranslate="global.menu.entities.main">Entities</span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.category">Category</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="sub-category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.subCategory">Sub Category</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="attribute" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.attribute">Attribute</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="item-attribute" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.itemAttribute">Item Attribute</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="sale" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-asterisk" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.entities.sale">Sale</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </ul>
            </li>
            <li *appHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle font-weight-bold" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                    <span jhiTranslate="global.menu.admin.main">Administration</span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li>
                        <a class="dropdown-item" routerLink="user-management" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="app-tracker" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-eye" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.tracker">User tracker</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="app-metrics" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="app-health" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-heart" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.health">Health</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="app-configuration" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-list" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="audits" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-bell" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.audits">Audits</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="logs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-tasks" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.logs">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled">
                        <a class="dropdown-item" routerLink="docs" routerLinkActive="active" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-book" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.apidocs">API</span>
                        </a>
                    </li>
                    <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    <li *ngIf="!inProduction">
                        <a class="dropdown-item" href='./h2-console' target="_tab" (click)="collapseNavbar()">
                            <i class="fa fa-fw fa-hdd-o" aria-hidden="true"></i>
                            <span jhiTranslate="global.menu.admin.database">Database</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <button *ngSwitchCase="true" [routerLink]="['/', { outlets: { popup: ['item-new'] } }]" class="btn btn-dark float-right">Sell Item</button>
        <button *ngSwitchCase="true" [routerLink]="['/', { outlets: { popup: ['bid-new'] } }]" class="btn btn-dark float-right ml-2">Bid Now</button>
    </div>
</nav>