<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <nav aria-label="breadcrumb" role="navigation">
                <div class="page-header">
                    <h1>{{category}}</h1>
                </div>
            </nav>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <div *ngFor="let sale of sales ;trackBy: trackId">
                <div class="jumbotron bg-dark">
                    <h2 class="text-white">{{sale.auctionTitle}}</h2>
                    <p class="text-white">from {{sale.start | date:'medium'}} to {{sale.end | date:'medium'}}</p>
                </div>
                <app-item-card [saleId]="sale.id"></app-item-card>
            </div>
        </div>
    </div>
</div>

