<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <h2 class="display-3 page-title text-center">{{category}}</h2>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <div *ngFor="let sale of sales ;trackBy: trackId">
                <h3 class="page-title font-weight-bold mb-0">{{sale.auctionTitle}}</h3>
                <small class="d-inline-block">from {{sale.start | date:'medium'}} to {{sale.end | date:'medium'}}</small>
                <hr class="my-1">
                <app-item-card [saleId]="sale.id"></app-item-card>
            </div>
        </div>
    </div>
</div>