<section class="row mt-4 mb-4">
    <div class="col-md-12">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="carousel-wrapper full-screen" [style.background-image]="'url(https://news.artnet.com/app/news-upload/2016/11/GettyImages-72577856-1024x683.jpg)'">
                    <div class="carousel-caption custom-dim">
                        <h1 class="display-4" jhiTranslate="home.title">Welcome tos, Java e-Auction!</h1>
                        <h2 class="text-white" jhiTranslate="home.subtitle">This is your homepage</h2>
                        <h5 [ngSwitch]="isAuthenticated()">
                            <div class="text-white" *ngSwitchCase="true">
                                <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                            </div>
                            <div class="text-white" *ngSwitchCase="false">
                                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                                <a class="alert-link" href="#" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
                                <span jhiTranslate="global.messages.info.authenticated.suffix">, sample text</span>
                            </div>
                            <div class="text-white" *ngSwitchCase="false">
                                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register now</a>
                            </div>
                        </h5>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</section>
<app-category-list></app-category-list>