<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBidLabel" jhiTranslate="eauctionApp.bid.home.createOrEditLabel">Create or edit a Bid</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <app-alert-error></app-alert-error>
        <div class="form-group" [hidden]="!bid.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="bid.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eauctionApp.bid.bidPrice" for="field_bidPrice">Bid Price</label>
            <input type="number" class="form-control" name="bidPrice" id="field_bidPrice" [(ngModel)]="bid.bidPrice" required min="1"
            />
            <div [hidden]="!(editForm.controls.bidPrice?.dirty && editForm.controls.bidPrice?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.bidPrice?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.bidPrice?.errors?.min" jhiTranslate="entity.validation.min"
                    translateValues="{ min: 1 }">
                    This field should be at least 1.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.bidPrice?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eauctionApp.bid.item" for="field_item">Item</label>
            <select class="form-control" id="field_item" name="item" [(ngModel)]="bid.itemId" required>
                <option [ngValue]="itemOption.id" *ngFor="let itemOption of items; trackBy: trackItemById">{{itemOption.itemTitle}}</option>
            </select>
            <div [hidden]="!(editForm.controls.item?.dirty && editForm.controls.item?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.item?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="form-control-label" jhiTranslate="eauctionApp.bid.account" for="field_account">Account</label>
            <select class="form-control" id="field_account" name="account" [(ngModel)]="bid.accountId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userAccountOption.id" *ngFor="let userAccountOption of useraccounts; trackBy: trackUserAccountById">{{userAccountOption.id}}</option>
            </select>
        </div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>