<div>
    <h2>
        <span jhiTranslate="eauctionApp.itemAttribute.home.title">Item Attributes</span>
        <button class="btn btn-primary float-right jh-create-entity create-item-attribute" [routerLink]="['/', { outlets: { popup: ['item-attribute-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="eauctionApp.itemAttribute.home.createLabel">
            Create new Item Attribute
            </span>
        </button>
    </h2>
    <app-alert></app-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="itemAttributes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eauctionApp.itemAttribute.value">Value</span></th>
            <th><span jhiTranslate="eauctionApp.itemAttribute.attribute">Attribute</span></th>
            <th><span jhiTranslate="eauctionApp.itemAttribute.item">Item</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itemAttribute of itemAttributes ;trackBy: trackId">
                <td><a [routerLink]="['../item-attribute', itemAttribute.id ]">{{itemAttribute.id}}</a></td>
                <td>{{itemAttribute.value}}</td>
                <td>
                    <div *ngIf="itemAttribute.attributeId">
                        <a [routerLink]="['../attribute', itemAttribute.attributeId  ]" >{{itemAttribute.attributeId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="itemAttribute.itemId">
                        <a [routerLink]="['../item', itemAttribute.itemId  ]" >{{itemAttribute.itemId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../item-attribute', itemAttribute.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item-attribute/'+ itemAttribute.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'item-attribute/'+ itemAttribute.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
